{% load static %}
<html>
    <head>
        <title>감염자수: {{ total }}</title>  <!-- ① -->
        <link rel="stylesheet" href="{% static 'covid19/b_style.css' %}"/>
    </head>
    <body>
         <table>
            <tr>
                <th>날짜</th>
                <th>확진자</th>
            </tr>
            {% for row in rows %}
            <tr>
                {% for x in row %}
                <td>{{ x }}</td>  <!-- ② -->
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <th colspan=3>확진자 합계</th>
                <th colspan=3>{{ total }}</th>  <!-- ③ -->
            </tr>
        </table>
    </body>
</html>