<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<!-- 스키마를 첫 라인에 선언 - web-app로 선언하고 있는 루트 (display, description을 쓸 수 있도록 선언) -->
  <display-name>BBS 예제</display-name>
        <description> 
         MVC 모델 기반 BBS 
        </description>

        <servlet> <!-- servlet은 요청할 수 있는 클래스 -->
                <servlet-name>Controller</servlet-name>
                <servlet-class>controller.Controller</servlet-class>
                <init-param>
                        <param-name>configFile</param-name>
                        <param-value> 
            C:/LHR/Spring/spring/workspace/mvc_bbs/mvc_bbs/WebContent/WEB-INF/config/config.properties 
            </param-value>
                </init-param>
                <init-param>
                <!-- 원하는 URL 패턴을 명시 -->
                        <param-name>templatePage</param-name>
                        <param-value>/template/template.jsp</param-value>
                </init-param>
                <load-on-startup>1</load-on-startup>
        </servlet>

        <servlet-mapping>
                <servlet-name>Controller</servlet-name>
                <url-pattern>*.do</url-pattern>
        </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>